<div style="display: flex; height: 100vh;">
  
  <nav style="width: 220px; background-color: blueviolet; color: white; padding: 20px;">
    <h1 style="font-size: 24px;">Splashh!!!!!!</h1>
    <a routerLink="/Home" style="display: block; color: white; margin: 10px 0;">Home</a>
    <a routerLink="/About" style="display: block; color: white; margin: 10px 0;">About</a>
    <a routerLink="/Pages" style="display: block; color: white; margin: 10px 0;">Pages</a>
    <a routerLink="/Portifolio" style="display: block; color: white; margin: 10px 0;">Portfolio</a>
    <a routerLink="/Contact" style="display: block; color: white; margin: 10px 0;">Contact</a>
  </nav>
  <div style="flex: 1; padding: 30px; overflow-y: auto;">
    <router-outlet></router-outlet>
  </div>
</div>
